# ==========================================
# 1. Xử lý Ảnh & Video
# ==========================================
opencv-python>=4.8.0

# ==========================================
# 2. Tiện ích Hệ thống
# ==========================================
pyyaml>=6.0.1
tqdm>=4.66.1
numpy>=1.24.0

# ==========================================
# 3. Phát hiện Đối tượng (YOLOv8)
# ==========================================
ultralytics>=8.1.0

# ==========================================
# 4. Học sâu (Deep Learning Framework)
# ==========================================
torch>=2.0.0
torchvision>=0.15.0

# ==========================================
# 5. Tracking
# ==========================================
lap>=0.5.12
scipy>=1.10.0